body {
    /*background-color: black;*/
}
body::-webkit-scrollbar{
    display: none;
}
.button-wrap {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}
.button-wrap button {
    padding: 5px;
    margin: 5px;
}
