*{
  margin: 0;
  padding: 0;
}

.header{
  padding: 20px 0;
  background-color: #282c34;
  color: white;
}
.title{
  text-align: center;
}
.post{
  padding: 20px 30px;
  border: 1px solid #000;
}
.post_title{
  font-size: 20px;
}
.post_content{
  margin-top: 20px;
}
.post_img{
  width: 100%;
}
.post_desc{
  margin-top: 15px;
}